@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f5f5;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #262626;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .base-text {
    @apply text-2xs sm:text-xs md:text-sm lg:text-base;
  }
  .title-text {
    @apply text-xs sm:text-sm md:text-base lg:text-lg;
  }
  .headline-text {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl;
  }
  .base-icon {
    @apply h-3 sm:h-4 md:h-5 lg:h-6 w-3 sm:w-4 md:w-5 lg:w-6;
  }
  .input-box {
    @apply h-7 sm:h-8 lg:h-9;
  }
  .card {
    @apply border rounded-lg px-1 lg:px-2 py-2 m-0;
  }
  .button {
    @apply border transition text-center title-text;
  }
  .button-light {
    @apply button bg-light hover:bg-neutral-200 dark:hover:bg-neutral-600 border border-neutral-400 dark:border-neutral-600;
  }
  .button-dark {
    @apply button bg-dark hover:bg-neutral-600 dark:hover:bg-neutral-400 border border-neutral-400 dark:border-neutral-600;
  }
  .bg-light {
    @apply bg-white dark:bg-neutral-900 border-neutral-900 dark:border-neutral-400 text-neutral-900 dark:text-neutral-100;
  }
  .bg-dark {
    @apply bg-neutral-800 dark:bg-neutral-300 border-neutral-800 dark:border-neutral-300 text-neutral-100 dark:text-neutral-900;
  }
  .bg-light-dark {
    @apply bg-neutral-200 dark:bg-neutral-600 text-neutral-600 dark:text-neutral-300;
  }
}